<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Simple Login Form</h1>
    <form action="/" method="post">
        <input type="text" name="username" required />
          <input type="text" name="password" required />
          <input type="submit"/>
    </form>
    <a href="http://localhost:5000/singup">singup</a>
    </body>
</html>